 <h1>Test: <%=@test.title%></h1>
  <h2><%=@test.questions.count%> questions:</h2> 

  <p>
    <%= link_to 'New question', new_test_question_path %>
  </p>

  <table>
    <% if @questions.present? %>
    
      <tr>
        <th>Body</th>
        <th colspan="3">Actions</th>
      </tr>

      <%= render @questions %>

    <%else%>

      <p>You have not question at this moment</p>
    
    <%end%>
  </table>