<div class="alert alert-success" role="alert">
  <h1 class="alert-heading">Отлично</h1>
  <p>
	Поздровляю! Вы завершили <b><%= @test.title %></b> тест. почему бы не пройти <%= link_to 'ещё', tests_url %>?
  </p>
</div>