<% if @test_user.success_rate? %>
      <h2 style="color:#00ff00">Ваш результат: <%= @test_user.percentage_result %> %</h2>
      <p style="color:#00ff00">Вы успешно прошли тест</p>
      <% if current_user.badges.present? %>
        <p style="color:#00ff00">Вы заслужили Badge</p>
      <% end %>


<% else  %>
  <% if @test_user.test.timer_zero? %>
    <h1 style="color:#ff0000">Время вышло</h1>
	  <h2 style="color:#ff0000">Ваш результат: <%= @test_user.percentage_result %> %</h2>
    <p style="color:#ff0000">Вы не прошли тест</p>
  <% else %>
    <h2 style="color:#ff0000">Ваш результат: <%= @test_user.percentage_result %> %</h2>
    <p style="color:#ff0000">Вы не прошли тест</p>
  <% end %>  
<%end%>