<h1>Gist</h1>

<table>
  <% if @gists.present? %>
  <tr>
    <th>qestion</th>
    <th>email</th>
    <th>gist_url</th>
    <th colspan="3"><%= t('.actions') %></th>
  </tr>

  <%= render @gists %>
  <%else%>
     <p>You have not question at this moment</p>
   <%end%>

</table>
