<h1>Gist</h1>

<table>
  <% if @gists.present? %>
  <tr>
    <th>qestion</th>
    <th>email</th>
    <th>gist_url</th>

  </tr>

  <%= render @gists %>
  <%else%>
     <p>You have not gist at this moment</p>
   <%end%>


</table>
<%= link_to "Back_all_test", admin_tests_path(@test) %>