<footer>

    <p>Author: Ryngachev Y.S.</p>
    <p><%=question_header("author", "repo")%></p>
    <a href="https://thinknetica.com", target="_blank">Учебный проект в онлайн-школе Thinknetica</a><br>
    <p><%=data_now%></p>
  </footer>