<footer>

  <p>Author: <%=github_url("YURARINGACHEV", "https://github.com/YURARINGACHEV/ruby_on_rails")%></p>
  <a href="https://thinknetica.com", target="_blank">Учебный проект в онлайн-школе Thinknetica</a><br>
  <p><%=data_now%></p>
</footer>