<header>
  <div class="nav user">
 
    <%= link_to 'TestGuru_main', root_path %>
  </div> 
  <div class="nav user">
    <% if user_signed_in? %>
      

      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      
      <p >Welcome, <b><%= current_user.email %></b> Guru!</p>
 
        
    <% end %>
  </div> 