<header>
  <div class="nav user">
 
    <%= link_to t(".header"), root_path %>
  </div> 
  <div class="nav user">
    <% if user_signed_in? %>
      

      <%= link_to t(".logout"), destroy_user_session_path, method: :delete %>
      
      <p ><%= t(".welcome", user: current_user.email  ) %></p>
 
        
    <% end %>
  </div> 